<div class="page-header">
	<h1>All profils</h1>
</div>
<%= link_to "Post a new Profile", new_profil_path, class:"btn btn-success" %>
<% @profils.each do |profil| %>
<div class="profil">
	<strong><%= profil.name %></strong>
	<p><%= profil.content %></p>
	<div class="meta">
		<%= link_to time_ago_in_words(profil.created_at)+" ago", profil %>

		<span class="admin">
			|<%= link_to 'edit', edit_profil_path(profil) %>|
			<%= link_to 'Destroy', profil, method: :delete, data:{confirm:"Are you really wanna delete this profil ?"} %>
		</span>
	</div>
</div>
	<% end %>
