<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profil.name %>
</p>

<p>
  <b>Content:</b>
  <%= @profil.content %>
</p>


<%= link_to 'Edit', edit_profil_path(@profil) %> |
<%= link_to 'Back', profils_path %>
